* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

img{
    width: 100px;
}

.container{
    width: 920px;
    margin: 0 auto
}

h1{
    color: fuchsia;
    text-align: center;
    margin-top: 2rem;
}

.text-h{
    text-align: center;
    margin-top: 4rem;
}


.cards{
    margin-top: 3rem;
    
}

.cards .c{
    width: 33.3%;

}

h3{
    float: right;
}
.card-1{
    float: left;
    background-color: rgb(7, 0, 112);
    padding: .5rem;
    color: white;
}

.card-2{
    float: left;
    background-color: rgb(7, 0, 112);
    padding: .5rem;
    color: white;
}

.card-3{
    float: left;
    background-color: rgb(7, 0, 112);
    padding: .5rem;
    color: white;
}

.card-4{
    float: left;
    background-color: rgb(7, 0, 112);
    padding: .5rem;
    color: white;
}

.card-5{
    float: left;
    background-color: rgb(7, 0, 112);
    padding: .5rem;
    color: white;
}

.card-6{
    float: left;
    background-color: rgb(7, 0, 112);
    padding: .5rem;
    color: white;
}