* {
	box-sizing: border-box;
	margin: 0;
	padding: 0

}
.container{
    width: 920px;
    margin: 0 auto
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100px;
    float: left;
}



h1{
    color: fuchsia;
    text-align: center;
    margin-top: 2rem;
}

.text-h{
    text-align: center;
    margin-top: 4rem;
}


.cards{
    margin-top: 3rem;
    
}

.cards .c{
    width: 32%;
    margin: .2rem;
    
}

h3{
    display: inline-block;
    margin-left: .6rem;
    margin-top: .8rem;
}

a{
    margin-left: .6rem;
    color: lightblue;
    font-size: small;
    text-decoration: none;
}



.card-1{
    float: left;
    background-color: rgb(3, 0, 41);
    margin-left: .5rem;
    color: white;
}

.card-2{
    float: left;
    background-color: rgb(3, 0, 41);
    
    color: white;
}

.card-3{
    float: left;
    background-color: rgb(3, 0, 41);
    
    color: white;
}

.card-4{
    float: left;
    background-color: rgb(3, 0, 41);
    
    color: white;
}

.card-5{
    float: left;
    background-color: rgb(3, 0, 41);
    
    color: white;
}

.card-6{
    float: left;
    background-color: rgb(3, 0, 41);
    
    color: white;
}

.role{
    margin-left: .6rem;
    display: inline-block;
    
}